.conteiner {    
    display: flex;
    flex-direction: column;    
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px rgb(95, 92, 92);
    gap: 15px;
}

a{
    color: black;
    list-style: none;
    text-decoration: none;
  }
 
a:hover {
    color: black;
}

.strong {
    font-size: 20px;
}

.conteiner h1 {
    margin-bottom: 10px;
}
  
